<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.smartsecurity.mapper.MeetingNoticeMapper">
  <resultMap id="BaseResultMap" type="com.st.smartsecurity.pojo.po.MeetingNotice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="meeting_id" jdbcType="BIGINT" property="meetingId" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="message_date" jdbcType="TIMESTAMP" property="messageDate" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="version_date" jdbcType="TIMESTAMP" property="versionDate" />
  </resultMap>
</mapper>