<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.smartsecurity.mapper.MeetingManagerMapper">
  <resultMap id="BaseResultMap" type="com.st.smartsecurity.pojo.po.MeetingManager">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meeting_id" jdbcType="BIGINT" property="meetingId" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
  </resultMap>
</mapper>